h1{
    color: #78363F;
    text-align: center;
}

body{
    background-color: #ababaa;
}

.div1{
    background-color: #E5E5E4;
 
    margin: 30px auto;
    max-width: 600px;
}

.div2{
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div3{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}

.par{
    color: #854149;
    font-weight: 600;
}

.hi{
    color: #854149;
    font-weight: 600;
}

.divv1{
    display: inline-block;
    /*padding-right: 30px;*/
}

.divv2{
    display: inline-block;
}


textarea{
    resize: none;
    width: 100%;
    padding-bottom: 15%;
    border-color: gray;
    margin-bottom: 2%;
}

.date2{
    color: gray;
}

.flex{
    display: flex;
}

.verticalf{
    flex-direction: column;
}

.flex-wrap{
    align-self: flex-end;
}

.div1f{
    justify-content: center;
}

.width-50{
    width: 50%;
}

.color{
    color: #a6787d;
}


.center{
    margin-top: 5%;
    justify-content: center;
}

.submit{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
}

.pads{
    width: 90%;
}

.width-increase{
    width: 50%;
}